.mediaViewInfo {
    --web-view-name: SignUp;
    --web-view-id: SignUp;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: SignUp;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#SignUp {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: SignUp;
    --web-view-id: SignUp;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#bg_img_ {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_ {
    fill: rgba(248,248,248,1);
}
.Rectangle_ {
    position: absolute;
    overflow: visible;
    width: 532px;
    height: 512px;
    left: 1290px;
    top: 177px;
}
#Title_ {
    left: 77px;
    top: 163px;
    position: absolute;
    overflow: visible;
    width: 880px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    color: rgba(0,0,0,1);
}
#Subtitle_ {
    left: 77px;
    top: 295px;
    position: absolute;
    overflow: visible;
    width: 753px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
}
#Heading_3 {
    position: absolute;
    width: 206px;
    height: 36px;
    left: 1323px;
    top: 213px;
    overflow: visible;
}
#Create_Account {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 207px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(56,113,67,1);
}
#Username_bc {
    position: absolute;
    width: 89px;
    height: 24px;
    left: 1323px;
    top: 379px;
    overflow: visible;
}
#Username_bd {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 90px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#EmailTextField {
    fill: rgba(255,255,255,1);
}
.EmailTextField {
    position: absolute;
    overflow: visible;
    width: 451px;
    height: 47px;
    left: 1323px;
    top: 419px;
}
#PasswordTextField {
    fill: rgba(255,255,255,1);
}
.PasswordTextField {
    position: absolute;
    overflow: visible;
    width: 451px;
    height: 47px;
    left: 1323px;
    top: 522px;
}
#Password_bg {
    position: absolute;
    width: 84px;
    height: 24px;
    left: 1323px;
    top: 482px;
    overflow: visible;
}
#Password_bh {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Login_link {
    position: absolute;
    width: 161px;
    height: 18px;
    left: 1613px;
    top: 618px;
    overflow: visible;
    transition: all 0.3s ease-out;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Login.html;
    cursor: pointer;
}
#Have_an_account__Log_In {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 162px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#SignUp_button {
    position: absolute;
    width: 195px;
    height: 47px;
    left: 1323px;
    top: 603px;
    overflow: visible;
    transition: all 0.3s ease-out;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Login.html;
    cursor: pointer;
}
#Rectangle_3_bl {
    fill: rgba(56,113,67,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_3_bl {
    position: absolute;
    overflow: visible;
    width: 195px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#Create_Account_bm {
    left: 31px;
    top: 12px;
    position: absolute;
    overflow: visible;
    width: 135px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Name {
    position: absolute;
    width: 51px;
    height: 24px;
    left: 1323px;
    top: 276px;
    overflow: visible;
}
#Name_bo {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#NameTextField {
    fill: rgba(255,255,255,1);
}
.NameTextField {
    position: absolute;
    overflow: visible;
    width: 451px;
    height: 47px;
    left: 1323px;
    top: 316px;
}
#Short_link_bq {
    position: absolute;
    width: 120px;
    height: 18px;
    left: 27px;
    top: 1047px;
    overflow: visible;
}
#_The_Sixth_Sense_br {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}