.mediaViewInfo {
    --web-view-name: Home;
    --web-view-id: Home;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Home;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Home {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Home;
    --web-view-id: Home;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
}
#Rectangle_ce {
    fill: rgba(248,248,248,1);
}
.Rectangle_ce {
    position: absolute;
    overflow: visible;
    width: 372px;
    height: 1020px;
    left: 1548px;
    top: 60px;
}
#Rectangle_cf {
    fill: rgba(248,248,248,1);
}
.Rectangle_cf {
    position: absolute;
    overflow: visible;
    width: 548px;
    height: 1020px;
    left: 0px;
    top: 60px;
}

#MAP_CSS{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 548px;
    top: 60px;
    overflow: visible;
}

#map{
    width: 970px;
    height: 900px;
    margin: 60px 560px;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 80%;
}


#Heading_3_ch {
    position: absolute;
    width: 85px;
    height: 30px;
    left: 1573px;
    top: 90px;
    overflow: visible;
}
#Heading_4 {
    position: absolute;
    width: 85px;
    height: 30px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Preview {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#Scroll_Group_1 {
    mix-blend-mode: normal;
    position: absolute;
    width: 338px;
    height: 945px;
    left: 1573px;
    top: 135px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#Repeat_Grid_1 {
    position: absolute;
    width: 338px;
    height: 1565px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
#Group_1 {
    position: absolute;
    width: 320px;
    height: 209px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1 {
    overflow: visible;
    position: absolute;
    width: 320px;
    height: 180px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ID00000000 {
    left: 151px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#ID0000_PM {
    left: 254px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Image_1 {
    position: absolute;
    width: 314px;
    height: 171px;
    left: 3px;
    top: 5px;
    overflow: visible;
}
#Group_1_cr {
    position: absolute;
    width: 320px;
    height: 209px;
    left: 0px;
    top: 229px;
    overflow: visible;
}
#Path_1_cs {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1_cs {
    overflow: visible;
    position: absolute;
    width: 320px;
    height: 180px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ID00000000_ct {
    left: 151px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#ID0000_PM_cu {
    left: 254px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Image_1_cv {
    position: absolute;
    width: 314px;
    height: 171px;
    left: 3px;
    top: 5px;
    overflow: visible;
}
#Group_1_cw {
    position: absolute;
    width: 320px;
    height: 209px;
    left: 0px;
    top: 458px;
    overflow: visible;
}
#Path_1_cx {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1_cx {
    overflow: visible;
    position: absolute;
    width: 320px;
    height: 180px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ID00000000_cy {
    left: 151px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#ID0000_PM_cz {
    left: 254px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Image_1_c {
    position: absolute;
    width: 314px;
    height: 171px;
    left: 3px;
    top: 5px;
    overflow: visible;
}
#Group_1_c {
    position: absolute;
    width: 320px;
    height: 209px;
    left: 0px;
    top: 687px;
    overflow: visible;
}
#Path_1_c {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1_c {
    overflow: visible;
    position: absolute;
    width: 320px;
    height: 180px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ID00000000_c {
    left: 151px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#ID0000_PM_c {
    left: 254px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Image_1_da {
    position: absolute;
    width: 314px;
    height: 171px;
    left: 3px;
    top: 5px;
    overflow: visible;
}
#Group_1_da {
    position: absolute;
    width: 320px;
    height: 209px;
    left: 0px;
    top: 916px;
    overflow: visible;
}
#Path_1_da {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1_da {
    overflow: visible;
    position: absolute;
    width: 320px;
    height: 180px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ID00000000_da {
    left: 151px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#ID0000_PM_da {
    left: 254px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Image_1_db {
    position: absolute;
    width: 314px;
    height: 171px;
    left: 3px;
    top: 5px;
    overflow: visible;
}
#Group_1_db {
    position: absolute;
    width: 320px;
    height: 209px;
    left: 0px;
    top: 1145px;
    overflow: visible;
}
#Path_1_dc {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1_dc {
    overflow: visible;
    position: absolute;
    width: 320px;
    height: 180px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ID00000000_dd {
    left: 151px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#ID0000_PM_de {
    left: 254px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Image_1_df {
    position: absolute;
    width: 314px;
    height: 171px;
    left: 3px;
    top: 5px;
    overflow: visible;
}
#Group_1_dg {
    position: absolute;
    width: 320px;
    height: 209px;
    left: 0px;
    top: 1374px;
    overflow: visible;
}
#Path_1_dh {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1_dh {
    overflow: visible;
    position: absolute;
    width: 320px;
    height: 180px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ID00000000_di {
    left: 151px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#ID0000_PM_dj {
    left: 254px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Image_1_dk {
    position: absolute;
    width: 314px;
    height: 171px;
    left: 3px;
    top: 5px;
    overflow: visible;
}
#Heading_4_dl {
    position: absolute;
    width: 75px;
    height: 30px;
    left: 26px;
    top: 90px;
    overflow: visible;
}
#Region {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 76px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#Group_2 {
    position: fixed;
    width: 1920px;
    height: 60px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_4 {
    fill: rgba(56,113,67,1);
}
.Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 60px;
    left: 0px;
    top: 0px;
}
#Heading_3_dp {
    position: absolute;
    width: 293px;
    height: 36px;
    left: 814px;
    top: 12px;
    overflow: visible;
}
#Smart_Waste_Manager {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 294px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Heading_4_dr {
    position: absolute;
    width: 84px;
    height: 30px;
    left: 32px;
    top: 15px;
    overflow: visible;
}
#Pune_IN {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#usericon {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 1860px;
    top: 11px;
    overflow: visible;
}
#Button {
    position: absolute;
    width: 123px;
    height: 47px;
    left: 400px;
    top: 171px;
    overflow: visible;
}
#Rectangle_3_dv {
    fill: rgba(56,113,67,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_3_dv {
    position: absolute;
    overflow: visible;
    width: 123px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#Search {
    left: 31px;
    top: 12px;
    position: absolute;
    overflow: visible;
    width: 62px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#SearchBox {
    fill: rgba(255,255,255,1);
}
.SearchBox {
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 47px;
    left: 26px;
    top: 171px;
}
#Enter_Pincode {
    left: 26px;
    top: 138px;
    position: absolute;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Heading_4_dz {
    position: absolute;
    width: 153px;
    height: 30px;
    left: 26px;
    top: 254px;
    overflow: visible;
}
#Garbage_Point {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 154px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#Rectangle_9 {
    fill: rgba(255,255,255,1);
}
.Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 497px;
    height: 47px;
    left: 26px;
    top: 328px;
}
#Select_Garbage_locations_in_re {
    left: 26px;
    top: 295px;
    position: absolute;
    overflow: visible;
    width: 221px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Heading_4_d {
    position: absolute;
    width: 74px;
    height: 30px;
    left: 26px;
    top: 411px;
    overflow: visible;
}
#Assign {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#Rectangle_10 {
    fill: rgba(255,255,255,1);
}
.Rectangle_10 {
    position: absolute;
    overflow: visible;
    width: 497px;
    height: 47px;
    left: 26px;
    top: 485px;
}
#Assign_personnel_to_collect_ga {
    left: 26px;
    top: 452px;
    position: absolute;
    overflow: visible;
    width: 231px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Button_d {
    position: absolute;
    width: 123px;
    height: 47px;
    left: 26px;
    top: 557px;
    overflow: visible;
}
#Rectangle_3_d {
    fill: rgba(56,113,67,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_3_d {
    position: absolute;
    overflow: visible;
    width: 123px;
    height: 47px;
    left: 0px;
    top: 0px;
}
#Assign_d {
    left: 31px;
    top: 12px;
    position: absolute;
    overflow: visible;
    width: 60px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Heading_4_ea {
    position: absolute;
    width: 81px;
    height: 24px;
    left: 26px;
    top: 724px;
    overflow: visible;
}
#Assigned {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 82px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Heading_4_ec {
    position: absolute;
    width: 103px;
    height: 24px;
    left: 26px;
    top: 766px;
    overflow: visible;
}
#Unassigned {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 104px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Line_1 {
    fill: transparent;
    stroke: rgba(56,113,67,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 497px;
    height: 1px;
    left: 25.5px;
    top: 633.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Heading_4_ef {
    position: absolute;
    width: 162px;
    height: 30px;
    left: 26px;
    top: 664px;
    overflow: visible;
}
#Current_Region {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 163px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#Heading_4_eh {
    position: absolute;
    width: 25px;
    height: 24px;
    left: 498px;
    top: 724px;
    overflow: visible;
}
#ID99 {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 26px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Heading_4_ej {
    position: absolute;
    width: 25px;
    height: 24px;
    left: 498px;
    top: 766px;
    overflow: visible;
}
#ID99_ek {
    opacity: 0.99;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 26px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Line_2 {
    fill: transparent;
    stroke: rgba(56,113,67,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_2 {
    overflow: visible;
    position: absolute;
    width: 497px;
    height: 1px;
    left: 26.5px;
    top: 826.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Heading_4_em {
    position: absolute;
    width: 136px;
    height: 30px;
    left: 27px;
    top: 857px;
    overflow: visible;
}
#Region_Stats {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 137px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#Heading_4_eo {
    position: absolute;
    width: 81px;
    height: 24px;
    left: 27px;
    top: 905px;
    overflow: visible;
}
#Assigned_ep {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 82px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Heading_4_eq {
    position: absolute;
    width: 25px;
    height: 24px;
    left: 499px;
    top: 905px;
    overflow: visible;
}
#ID99_er {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 26px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Heading_4_es {
    position: absolute;
    width: 83px;
    height: 24px;
    left: 26px;
    top: 947px;
    overflow: visible;
}
#Collected {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 84px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Heading_4_eu {
    position: absolute;
    width: 25px;
    height: 24px;
    left: 498px;
    top: 947px;
    overflow: visible;
}
#ID99_ev {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 26px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Short_link_ew {
    position: absolute;
    width: 120px;
    height: 18px;
    left: 27px;
    top: 1047px;
    overflow: visible;
}
#_The_Sixth_Sense_ex {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: left;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
}